<center><h1><b>4주차 ✅ 범죄자 특성 EDA</b></h1></center>

---
----

<center><h2><b>데이터 가져오기</b></h2></center>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 전체 열 보기
pd.options.display.max_columns = None
pd.options.display.max_rows = 100

In [3]:
import glob

glob.glob('data/*')

['data/재범자_재범종류_및_기간_2011_2020.csv']

In [4]:
# 데이터 로드
df_raw = pd.read_csv('data/재범자_재범종류_및_기간_2011_2020.csv', encoding='cp949')
df_raw.shape

(748, 14)

In [5]:
# 앞에
df_raw.head()

,죄종별(1),죄종별(2),재범종류별(1),재범기간별(1),2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,계,소계,계,계,822673,862625,871076,833458,844015,881941,796882,712811,701101,661301
1,계,소계,동종,계,292731,290881,293431,272582,271767,275237,248437,221167,210162,197950
2,계,소계,동종,1개월이내,13342,14843,13395,10983,11001,12206,10523,9997,9980,10643
3,계,소계,동종,3개월이내,19064,20221,17813,15180,15808,17481,15653,13945,13694,13604
4,계,소계,동종,6개월이내,17744,18613,18293,17767,17602,18912,17545,15457,14732,14132

In [6]:
# 뒤에
df_raw.tail()

,죄종별(1),죄종별(2),재범종류별(1),재범기간별(1),2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
743,기타범죄,소계,이종,6개월이내,2662,3055,3150,3365,3419,4264,3767,3223,3028,2930
744,기타범죄,소계,이종,1년이내,12238,12355,12751,14017,14339,18159,15681,13439,13213,12823
745,기타범죄,소계,이종,2년이내,9546,9025,8976,9943,10138,13213,11109,9896,9957,8728
746,기타범죄,소계,이종,3년이내,11552,11608,11894,10962,11043,15104,12400,10772,11255,10163
747,기타범죄,소계,이종,3년초과,46103,47207,48965,53901,55663,72444,62617,52836,55317,52819

In [7]:
# 컬럼명 확인
df_raw.columns

Index(['죄종별(1)', '죄종별(2)', '재범종류별(1)', '재범기간별(1)', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [8]:
# 컬럼명 변경
df_raw = df_raw.rename(columns={
    "죄종별(1)": "범죄종류", "죄종별(2)": "범죄명",
    "재범종류별(1)": "재범종류", "재범기간별(1)": "기간",})

# 바뀐 컬럼명 확인
df_raw.columns

Index(['범죄종류', '범죄명', '재범종류', '기간', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

---
----

<center><h2><b>Tidy Data 만들기</b></h2></center>

In [9]:
# Tidy Data 만들기!
df = pd.melt(df_raw, id_vars=['범죄종류', '범죄명', '재범종류', '기간'], var_name='연도', value_name='재범발생횟수')
df.head(10)

  범죄종류 범죄명 재범종류     기간    연도  재범발생횟수
0    계  소계    계      계  2011  822673
1    계  소계   동종      계  2011  292731
2    계  소계   동종  1개월이내  2011   13342
3    계  소계   동종  3개월이내  2011   19064
4    계  소계   동종  6개월이내  2011   17744
5    계  소계   동종   1년이내  2011   62707
6    계  소계   동종   2년이내  2011   38801
7    계  소계   동종   3년이내  2011   40255
8    계  소계   동종   3년초과  2011  100818
9    계  소계   이종      계  2011  529942

In [10]:
# 요약 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7480 entries, 0 to 7479
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄종류    7480 non-null   object
 1   범죄명     7480 non-null   object
 2   재범종류    7480 non-null   object
 3   기간      7480 non-null   object
 4   연도      7480 non-null   object
 5   재범발생횟수  7480 non-null   object
dtypes: object(6)
memory usage: 350.8+ KB

In [11]:
# 타입 확인
df.dtypes

범죄종류      object
범죄명       object
재범종류      object
기간        object
연도        object
재범발생횟수    object
dtype: object

In [12]:
# 연도, 발생횟수 수치형 데이터로 변경
df['연도'] = df['연도'].astype(int)
df['연도'].dtypes

dtype('int64')

In [13]:
# 연도, 발생횟수 수치형 데이터로 변경
# 발생횟수 같은 경우는 astype 을 이용하면 중간에 string 오류가 난다.
# downcast 하면 타입 변경 가능 -> 근데 결측치가 있어서 float
df['재범발생횟수'] = pd.to_numeric(df['재범발생횟수'], errors='coerce', downcast='integer')
df['재범발생횟수'].dtypes

dtype('float64')

In [14]:
# 결측치 확인
df.isnull().sum()

범죄종류        0
범죄명         0
재범종류        0
기간          0
연도          0
재범발생횟수    573
dtype: int64

In [15]:
# 결측치 변경
df['재범발생횟수'] = df['재범발생횟수'].fillna(0).astype(int)

In [16]:
# 결측치 변경 확인
df.isnull().sum()

범죄종류      0
범죄명       0
재범종류      0
기간        0
연도        0
재범발생횟수    0
dtype: int64

In [17]:
# 고유값 확인하기
for col in df.columns:
    print(col, ':', end = ' ')
    print(df[col].unique(), end = '\n\n')

범죄종류 : ['계' '강력범죄' '절도범죄' '폭력범죄' '지능범죄' '풍속범죄' '특별경제범죄' '마약범죄' '보건범죄' '환경범죄'
 '교통범죄' '노동범죄' '안보범죄' '선거범죄' '병역범죄' '기타범죄']

범죄명 : ['소계' '살인기수' '살인미수등' '강도' '강간·강제추행' '강간' '유사강간' '강제추행' '기타 강간·강제추행등' '방화'
 '상해' '폭행' '체포·감금' '협박' '약취·유인' '폭력행위등' '공갈' '손괴' '직무유기' '직권남용' '증수뢰' '통화'
 '문서·인장' '유가증권인지' '사기' '횡령' '배임' '성풍속범죄' '도박범죄']

재범종류 : ['계' '동종' '이종']

기간 : ['계' '1개월이내' '3개월이내' '6개월이내' '1년이내' '2년이내' '3년이내' '3년초과']

연도 : [2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]

재범발생횟수 : [822673 292731  13342 ...   8728  10163  52819]

In [18]:
# '소계' 들어가는 행 삭제
drops = df['범죄종류'].str.contains('계') | df['범죄명'].str.contains('계') \
    | df['재범종류'].str.contains('계') | df['기간'].str.contains('계')
df = df[~drops]
df.head()

    범죄종류   범죄명 재범종류     기간    연도  재범발생횟수
36  강력범죄  살인기수   동종  1개월이내  2011       1
37  강력범죄  살인기수   동종  3개월이내  2011       2
38  강력범죄  살인기수   동종  6개월이내  2011       1
39  강력범죄  살인기수   동종   1년이내  2011       4
40  강력범죄  살인기수   동종   2년이내  2011       1

In [19]:
# 인덱스 재정의
df = df.reset_index(drop=True)
df.head()

   범죄종류   범죄명 재범종류     기간    연도  재범발생횟수
0  강력범죄  살인기수   동종  1개월이내  2011       1
1  강력범죄  살인기수   동종  3개월이내  2011       2
2  강력범죄  살인기수   동종  6개월이내  2011       1
3  강력범죄  살인기수   동종   1년이내  2011       4
4  강력범죄  살인기수   동종   2년이내  2011       1

In [20]:
# 컬럼 재정렬
cols = ['범죄명', '연도', '기간', '재범종류', '범죄종류', '재범발생횟수', ]
df = df[cols]

In [28]:
# 데이터 저장
df.to_csv('output/04_재범종류_및_기간_2011_2020.csv', index=False)

---
----

<center><h2><b>데이터 요악 통계</b></h2></center>

In [22]:
# 요약 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3920 entries, 0 to 3919
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄명     3920 non-null   object
 1   연도      3920 non-null   int64
 2   기간      3920 non-null   object
 3   재범종류    3920 non-null   object
 4   범죄종류    3920 non-null   object
 5   재범발생횟수  3920 non-null   int64
dtypes: int64(2), object(4)
memory usage: 183.9+ KB

In [23]:
# 수치형 통계
df.describe()

                연도        재범발생횟수
count  3920.000000   3920.000000
mean   2015.500000    831.239031
std       2.872648   2563.502111
min    2011.000000      0.000000
25%    2013.000000      5.000000
50%    2015.500000     53.000000
75%    2018.000000    391.000000
max    2020.000000  32012.000000

In [24]:
# 범주형 통계
df.describe(include='object')

         범죄명     기간  재범종류  범죄종류
count   3920   3920  3920  3920
unique    28      7     2     4
top     살인기수  1개월이내    동종  강력범죄
freq     140    560  1960  1260

In [25]:
df.head()

    범죄명    연도     기간 재범종류  범죄종류  재범발생횟수
0  살인기수  2011  1개월이내   동종  강력범죄       1
1  살인기수  2011  3개월이내   동종  강력범죄       2
2  살인기수  2011  6개월이내   동종  강력범죄       1
3  살인기수  2011   1년이내   동종  강력범죄       4
4  살인기수  2011   2년이내   동종  강력범죄       1

In [26]:
df.set_index('범죄명')

        연도     기간 재범종류  범죄종류  재범발생횟수
범죄명
살인기수  2011  1개월이내   동종  강력범죄       1
살인기수  2011  3개월이내   동종  강력범죄       2
살인기수  2011  6개월이내   동종  강력범죄       1
살인기수  2011   1년이내   동종  강력범죄       4
살인기수  2011   2년이내   동종  강력범죄       1
...    ...    ...  ...   ...     ...
도박범죄  2020  6개월이내   이종  풍속범죄     204
도박범죄  2020   1년이내   이종  풍속범죄    1118
도박범죄  2020   2년이내   이종  풍속범죄     821
도박범죄  2020   3년이내   이종  풍속범죄    1159
도박범죄  2020   3년초과   이종  풍속범죄    7492

[3920 rows x 5 columns]

In [27]:
df.groupby(by=['연도', '범죄명']).mean().head(30)

                       재범발생횟수
연도   범죄명
2011 강간              0.000000
     강간·강제추행       594.571429
     강도            230.714286
     강제추행            0.000000
     공갈            139.214286
     기타 강간·강제추행등     0.000000
     도박범죄         2241.571429
     문서·인장         415.500000
     방화             69.785714
     배임            122.928571
     사기           5303.714286
     살인기수           17.071429
     살인미수등          40.214286
     상해           4265.642857
     성풍속범죄         313.428571
     손괴           1350.357143
     약취·유인          11.785714
     유가증권인지         19.285714
     유사강간            0.000000
     증수뢰            40.142857
     직권남용            2.214286
     직무유기            3.571429
     체포·감금          29.928571
     통화              3.785714
     폭력행위등        3856.428571
     폭행           4182.214286
     협박            114.857143
     횡령            636.571429
2012 강간              0.000000
     강간·강제추행       657.785714