In [8]:
import pandas as pd
import numpy as np

In [9]:
air_raw = pd.read_csv('data/air/air.csv')
air_raw.head()

    지역          종류       날짜         수치
0  강원도   미세먼지 PM10  2019.01  55.769231
1  강원도  미세먼지 PM2.5  2019.01  31.923077
2  강원도       아황산가스  2019.01   0.003385
3  강원도          오존  2019.01   0.022154
4  강원도       이산화질소  2019.01   0.018462

In [10]:
air_raw.shape

(2448, 4)

In [11]:
air_raw.describe()

                날짜           수치
count  2448.000000  2447.000000
mean   2019.565000     9.536251
std       0.501293    15.137039
min    2019.010000     0.001000
25%    2019.067500     0.014000
50%    2019.565000     0.062667
75%    2020.062500    18.895238
max    2020.120000    73.187500

In [15]:
air_raw.head()

    지역          종류       날짜         수치
0  강원도   미세먼지 PM10  2019.01  55.769231
1  강원도  미세먼지 PM2.5  2019.01  31.923077
2  강원도       아황산가스  2019.01   0.003385
3  강원도          오존  2019.01   0.022154
4  강원도       이산화질소  2019.01   0.018462

In [17]:
air_raw.dtypes

지역     object
종류     object
날짜    float64
수치    float64
dtype: object

In [29]:
air_19 = air_raw[air_raw['날짜'].astype('string').str.startswith('2019')]
air_20 = air_raw[air_raw['날짜'].astype('string').str.startswith('2020')]

In [21]:
air_20.head()

       지역          종류       날짜         수치
1224  강원도   미세먼지 PM10  2020.01  32.894737
1225  강원도  미세먼지 PM2.5  2020.01  22.631579
1226  강원도       아황산가스  2020.01   0.003000
1227  강원도          오존  2020.01   0.022316
1228  강원도       이산화질소  2020.01   0.013684

In [30]:
air_19 = air_19.rename(columns={
    '지역': '시도명',
    '종류': '항목',
    '날짜': '월',
    '수치': '2019'
})
air_19.head()

   시도명          항목        월       2019
0  강원도   미세먼지 PM10  2019.01  55.769231
1  강원도  미세먼지 PM2.5  2019.01  31.923077
2  강원도       아황산가스  2019.01   0.003385
3  강원도          오존  2019.01   0.022154
4  강원도       이산화질소  2019.01   0.018462

In [31]:
air_20 = air_20.rename(columns={
    '지역': '시도명',
    '종류': '항목',
    '날짜': '월',
    '수치': '2020'
})
air_20.head()

      시도명          항목        월       2020
1224  강원도   미세먼지 PM10  2020.01  32.894737
1225  강원도  미세먼지 PM2.5  2020.01  22.631579
1226  강원도       아황산가스  2020.01   0.003000
1227  강원도          오존  2020.01   0.022316
1228  강원도       이산화질소  2020.01   0.013684

In [32]:
# 월 데이터를 숫자만 반환하도록 설정한다.
def find_month(x):
    # [2020.01] 이런식으로 되어있는거 자르고 0 있으면 없애기
    return x.split('.')[-1]

air_19['월'] = air_19['월'].astype('string').map(find_month)
air_20['월'] = air_20['월'].astype('string').map(find_month)
air_20.head()

      시도명          항목   월       2020
1224  강원도   미세먼지 PM10  01  32.894737
1225  강원도  미세먼지 PM2.5  01  22.631579
1226  강원도       아황산가스  01   0.003000
1227  강원도          오존  01   0.022316
1228  강원도       이산화질소  01   0.013684

In [51]:
air_20.loc[:, '2020']

1224    32.894737
1225    22.631579
1226     0.003000
1227     0.022316
1228     0.013684
          ...
2443    29.583333
2444     0.003333
2445     0.016917
2446     0.019818
2447     0.600000
Name: 2020, Length: 1224, dtype: float64

In [54]:
air_19.shape, air_20.shape

((1224, 4), (1224, 4))

In [59]:
air_19.dtypes

시도명      object
항목       object
월        object
2019    float64
dtype: object

In [61]:
air_1920 = pd.merge(air_19, air_20)
air_1920.to_csv('output/air/air_1920.csv', index=False)

#### 19년 mean, median, max, min

In [36]:
air_19_mean = air_19.groupby(by=['시도명', '항목']).mean()
air_19_mean  = air_19_mean.rename(columns={'2019': '19년_대기_평균'})
air_19_mean.head()

                19년_대기_평균
시도명 항목
강원도 미세먼지 PM10   37.054471
    미세먼지 PM2.5  20.787793
    아황산가스        0.002492
    오존           0.031794
    이산화질소        0.010849

In [37]:
air_19_median = air_19.groupby(by=['시도명', '항목']).median()
air_19_median = air_19_median.rename(columns={'2019': '19년_대기_중앙치'})
air_19_median.head()

                19년_대기_중앙치
시도명 항목
강원도 미세먼지 PM10    35.565015
    미세먼지 PM2.5   17.933007
    아황산가스         0.002322
    오존            0.028626
    이산화질소         0.009917

In [42]:
air_19_max = air_19.groupby(by=['시도명', '항목']).max()
air_19_max = air_19_max.rename(columns={'2019': '19년_대기_최댓값'})
air_19_max = air_19_max.drop(columns='월')
air_19_max.head()

                19년_대기_최댓값
시도명 항목
강원도 미세먼지 PM10    57.333333
    미세먼지 PM2.5   37.055556
    아황산가스         0.003385
    오존            0.056263
    이산화질소         0.018462

In [41]:
air_19_min = air_19.groupby(by=['시도명', '항목']).min()
air_19_min = air_19_min.rename(columns={'2019': '19년_대기_최솟값'})
air_19_min = air_19_min.drop(columns='월')
air_19_min.head()

                19년_대기_최솟값
시도명 항목
강원도 미세먼지 PM10    20.736842
    미세먼지 PM2.5    9.500000
    아황산가스         0.001789
    오존            0.020053
    이산화질소         0.006474

In [65]:
air_19 = pd.merge(air_19_mean, air_19_median, left_index=True, right_index=True)
air_19 = pd.merge(air_19, air_19_max, left_index=True, right_index=True)
air_19 = pd.merge(air_19, air_19_min, left_index=True, right_index=True)
air_19

                 19년_대기_평균  19년_대기_중앙치  19년_대기_최댓값  19년_대기_최솟값
시도명  항목
강원도  미세먼지 PM10   37.054471   35.565015   57.333333   20.736842
     미세먼지 PM2.5  20.787793   17.933007   37.055556    9.500000
     아황산가스        0.002492    0.002322    0.003385    0.001789
     오존           0.031794    0.028626    0.056263    0.020053
     이산화질소        0.010849    0.009917    0.018462    0.006474
...                    ...         ...         ...         ...
충청북도 미세먼지 PM2.5  28.291414   25.806818   47.333333   13.666667
     아황산가스        0.003191    0.003042    0.004900    0.002500
     오존           0.027537    0.025417    0.049333    0.012917
     이산화질소        0.016506    0.014917    0.027800    0.009167
     일산화탄소        0.456124    0.379167    0.700000    0.316667

[102 rows x 4 columns]

#### 20년 mean, median, max, min

In [66]:
air_20_mean = air_20.groupby(by=['시도명', '항목']).mean()
air_20_mean  = air_20_mean.rename(columns={'2020': '20년_대기_평균'})
air_20_mean.head()

                20년_대기_평균
시도명 항목
강원도 미세먼지 PM10   29.757446
    미세먼지 PM2.5  16.956441
    아황산가스        0.002475
    오존           0.030624
    이산화질소        0.009395

In [67]:
air_20_median = air_20.groupby(by=['시도명', '항목']).median()
air_20_median = air_20_median.rename(columns={'2020': '20년_대기_중앙치'})
air_20_median.head()

                20년_대기_중앙치
시도명 항목
강원도 미세먼지 PM10    32.901914
    미세먼지 PM2.5   18.394737
    아황산가스         0.002379
    오존            0.028026
    이산화질소         0.008861

In [68]:
air_20_max = air_20.groupby(by=['시도명', '항목']).max()
air_20_max = air_20_max.rename(columns={'2020': '20년_대기_최댓값'})
air_20_max = air_20_max.drop(columns='월')
air_20_max.head()

                20년_대기_최댓값
시도명 항목
강원도 미세먼지 PM10    39.000000
    미세먼지 PM2.5   24.578947
    아황산가스         0.003000
    오존            0.045167
    이산화질소         0.014526

In [69]:
air_20_min = air_20.groupby(by=['시도명', '항목']).min()
air_20_min = air_20_min.rename(columns={'2020': '20년_대기_최솟값'})
air_20_min = air_20_min.drop(columns='월')
air_20_min.head()

                20년_대기_최솟값
시도명 항목
강원도 미세먼지 PM10    16.875000
    미세먼지 PM2.5    8.684211
    아황산가스         0.002158
    오존            0.022316
    이산화질소         0.005667

In [70]:
air_20 = pd.merge(air_20_mean, air_20_median, left_index=True, right_index=True)
air_20 = pd.merge(air_20, air_20_max, left_index=True, right_index=True)
air_20 = pd.merge(air_20, air_20_min, left_index=True, right_index=True)
air_20

                 20년_대기_평균  20년_대기_중앙치  20년_대기_최댓값  20년_대기_최솟값
시도명  항목
강원도  미세먼지 PM10   29.757446   32.901914   39.000000   16.875000
     미세먼지 PM2.5  16.956441   18.394737   24.578947    8.684211
     아황산가스        0.002475    0.002379    0.003000    0.002158
     오존           0.030624    0.028026    0.045167    0.022316
     이산화질소        0.009395    0.008861    0.014526    0.005667
...                    ...         ...         ...         ...
충청북도 미세먼지 PM2.5  21.468434   21.375000   32.750000    9.750000
     아황산가스        0.003015    0.003042    0.003333    0.002750
     오존           0.027834    0.025417    0.044091    0.016417
     이산화질소        0.013268    0.012825    0.020667    0.007250
     일산화탄소        0.451263    0.416667    0.625000    0.308333

[102 rows x 4 columns]

In [73]:
air_1920 = pd.merge(air_19, air_20, left_index=True, right_index=True)
air_1920.to_csv('output/air/air_stat_1920.csv')